@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  line-height: 1.3;
  color: #4b2f48;
}
*,*::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.logo {
  width: 75px;
  background-color: #fff;
  border-radius: 100%;
  padding: 1em;
  margin: 2em 0 0 0;
}
main {
  background-color: #fff;
  padding: 10px;
}
h1 {
  font-size: 33.18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
h2 {
  font-size: 20.8px;
  text-align: center;
  color: #fff;
}
.masthead {
  margin: 0;
  width: 100%;
  padding: 2em 0 .5em 0;
  background-image: linear-gradient(to bottom, transparent, #4b2f48, #4b2f48);
}
.portrait {
  width: 50%;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  border: 3px solid #fff;

}
.contactbtns {
  width: 50px;
  display: inline-block;
  float: left;
  padding: 4px;
  border: 0;
}
header {
  background-image: url("../img/colourbackground.jpg");
  background-size: cover;
  text-align: center;
}

@media only screen and (min-width: 22em) {
  html {
    font-size: 110%;
    line-height: 1.4;
  }
  .logo {
    margin: 1em;
    padding: .7em;
  }

  h1 {
    font-size: 41.49px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: center;
  }
  .portrait {
    max-width: 9em;
  }
  .contactbtns {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 30em) {

  main {
    padding: 0 3em 3em 3em ;
  }
  .logo {
    width: 80px;
    margin: 2em;
  }
  header {
    text-align: left;
  }
  h1 {
    padding-left: 300px;
    text-align: left;
  }
  h2 {
    padding-left: 300px;
    text-align: left;
  }
  .portrait {
    margin: 0;
    position: absolute;
    top: 10em;
    left: 5em;

  }
}
@media only screen and (min-width: 45em) {
  html {
    font-size: 120%;
    line-height: 1.5;
  }
  main {
    max-width: 43em;
    margin: 0 auto;
    padding-top: 0;
  }
  .logo {
    width: 120px;
    padding: 1.2em;
  }
  h1 {
    padding-right: 5em;
    padding-left: 9em;
  }
  h2 {
    padding-left: 15em;
  }
  p {
    clear: both;
    padding-top: 2rem;
  }
  .portrait{
    top: 13em;
    left: 9em;
  }
}
@media print {
  html {
    width: 0 auto;
    font-size: 60%;
  }
  p {
    display: none;
  }

  h1 {
    font-size: 2rem;
    text-align: left;
    padding-left: 5em;
  }
  h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5em;
  }
  body {
    width: 3.5in;
    height: 2in;
    border: 4px dashed lightgrey;
  }
  .logo {
    width: 70px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    }
  .portrait {
    display: none;
    }
  .contactbtns {
    display: none;
  }
  div {
    margin-left: 2em;
  }
  main a::after {
    content: " (" attr(href) ")";
    color: ##5f1c5c;
    margin-left: 2em;
}
  a {
    text-decoration: none;
  }
}
